@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

html {
    height: 100%;
    box-sizing: border-box;
}

span {
    text-transform: capitalize;
}

body {
    background-color: #425866;
    -webkit-animation: 100s scroll infinite linear;
    -moz-animation: 100s scroll infinite linear;
    -o-animation: 100s scroll infinite linear;
    -ms-animation: 100s scroll infinite linear;
    animation: 100s scroll infinite linear;
    font-family: 'Noto Sans KR', sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.text-center {
    text-align: center;
}

h1.body-head {
    color: #fff;
    font-size: 3em;
    text-align: center;

    text-decoration: underline;
    letter-spacing: 4px;
    /*https://css-tricks.com/3d-text-tower/*/
    text-shadow: 1px 1px 1px red,
    1px 1px 1px red,
    1px 1px 1px red;

    /*font-family: 'Faster One', cursive;*/
    font-family: 'Monoton', cursive;

}

.App {
    position: relative;
    min-height: 100vh;
    text-align: center;
}

.inner-container {
    padding: 50px;
    min-height: 85vh;
}

/* Header */
.header {
    font-size: 40px;
    color: white;
}

/* Footer */

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    margin-top: -3em;
    right: 0;
    left: 0;
    padding: 20px 5px 20px 5px;
    text-align: center;
    height: 100px;
    background-color: #232b2b;
    color: white;
    border-top: 2px solid white;
    line-height: 10px;
    bottom: 0;

}

.footer a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .7);;
}

.footer a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);;
}

.footer p {
    opacity: 0.75;
    font-size: 16px;
}

.footerCopyRight {
    margin-top: 5px;
}
